*{
    box-sizing: border-box;
    font-family: 'Bangers';
    margin: 10;
}

body {
    background: url('https://wallpapercave.com/wp/wp5230148.jpg');
    
}
   
h1 {
    color: black;
    text-align: center;
    font-family: 'Bangers';
   font-size: 70px;
}

h2 {
    color: red;
}

.card-custom {
    margin: 1%;
}

.fas {
    color: black;
}

